USE [master]
GO
/****** Object:  Database [QuanLyShopMyPham]    Script Date: 21/07/2020 10:52:48 SA ******/
CREATE DATABASE [QuanLyShopMyPham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyShopMyPham', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyShopMyPham.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyShopMyPham_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyShopMyPham_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyShopMyPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyShopMyPham]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[SoLuong] [int] NULL,
	[NhaCungCap] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC,
	[NgayNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[NgayBan] [datetime] NULL,
	[MaKH] [int] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SĐT] [nchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Diem] [int] NULL,
	[MaLoaiKH] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kho]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiKH]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKH](
	[MaLoaiKH] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiKH] [nvarchar](50) NULL,
	[MocDiem] [int] NULL,
	[KhuyenMai] [int] NULL,
 CONSTRAINT [PK_LoaiKH] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ManHinh]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManHinh](
	[MaManHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenManHinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ManHinh] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomNV]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNV](
	[MaNhomNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomNV] PRIMARY KEY CLUSTERED 
(
	[MaNhomNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomSP]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSP](
	[MaNhomSP] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomSP] [nchar](10) NULL,
 CONSTRAINT [PK_NhomSP] PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaNhomNV] [int] NOT NULL,
	[MaManHinh] [int] NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomNV] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[TenPN] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MaNhomSP] [int] NULL,
	[GiaNhapSP] [money] NULL,
	[GiaBanSP] [money] NULL,
	[MoTaSP] [nvarchar](200) NULL,
	[HinhAnh] [bit] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 21/07/2020 10:52:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[HoTenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[MaNhomNV] [int] NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [GiaBan], [ThanhTien]) VALUES (1, 3, 2, 250000.0000, 500000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [GiaBan], [ThanhTien]) VALUES (1, 4, 1, 230000.0000, 230000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [GiaBan], [ThanhTien]) VALUES (1, 9, 5, 200000.0000, 1000000.0000)
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [NgayNhap], [SoLuong], [NhaCungCap]) VALUES (1, 5, CAST(N'2020-02-05 00:00:00.000' AS DateTime), 100, N'MCTCBI')
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [NgayNhap], [SoLuong], [NhaCungCap]) VALUES (2, 2, CAST(N'2020-02-05 00:00:00.000' AS DateTime), 120, N'Manis')
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [NgayNhap], [SoLuong], [NhaCungCap]) VALUES (3, 3, CAST(N'2020-02-05 00:00:00.000' AS DateTime), 300, N'Dove')
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [TaiKhoan], [NgayBan], [MaKH], [TongTien]) VALUES (1, N'NV001', CAST(N'2020-02-06 00:00:00.000' AS DateTime), 1, 2000000.0000)
INSERT [dbo].[HoaDon] ([MaHD], [TaiKhoan], [NgayBan], [MaKH], [TongTien]) VALUES (2, N'NV001', CAST(N'2020-02-06 00:00:00.000' AS DateTime), 2, 1500000.0000)
INSERT [dbo].[HoaDon] ([MaHD], [TaiKhoan], [NgayBan], [MaKH], [TongTien]) VALUES (3, N'NV001', CAST(N'2020-02-06 00:00:00.000' AS DateTime), 3, 3000000.0000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SĐT], [DiaChi], [Diem], [MaLoaiKH]) VALUES (1, N'Phan Thanh Hải', N'0371458159', N'tan binh', 10, 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SĐT], [DiaChi], [Diem], [MaLoaiKH]) VALUES (2, N'Lê Vĩnh Khiêm', N'0987265366', N'Tan Phu', 30, 2)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SĐT], [DiaChi], [Diem], [MaLoaiKH]) VALUES (3, N'Nguyễn Hải Nam', N'0359139943', N'Phu Nhuân', 45, 3)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[Kho] ON 

INSERT [dbo].[Kho] ([MaPN], [MaSP], [SoLuongTon]) VALUES (1, 5, 100)
INSERT [dbo].[Kho] ([MaPN], [MaSP], [SoLuongTon]) VALUES (2, 2, 120)
INSERT [dbo].[Kho] ([MaPN], [MaSP], [SoLuongTon]) VALUES (3, 3, 300)
SET IDENTITY_INSERT [dbo].[Kho] OFF
SET IDENTITY_INSERT [dbo].[LoaiKH] ON 

INSERT [dbo].[LoaiKH] ([MaLoaiKH], [TenLoaiKH], [MocDiem], [KhuyenMai]) VALUES (1, N'Vip1', 10, 2)
INSERT [dbo].[LoaiKH] ([MaLoaiKH], [TenLoaiKH], [MocDiem], [KhuyenMai]) VALUES (2, N'Vip2', 25, 5)
INSERT [dbo].[LoaiKH] ([MaLoaiKH], [TenLoaiKH], [MocDiem], [KhuyenMai]) VALUES (3, N'Vip3', 40, 10)
SET IDENTITY_INSERT [dbo].[LoaiKH] OFF
SET IDENTITY_INSERT [dbo].[ManHinh] ON 

INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (1, N'Màn hình nhân viên')
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (2, N'Màn hình thông tin tài khoản')
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (3, N'Màn hình thêm tài khoản')
SET IDENTITY_INSERT [dbo].[ManHinh] OFF
SET IDENTITY_INSERT [dbo].[NhomNV] ON 

INSERT [dbo].[NhomNV] ([MaNhomNV], [TenNhomNV]) VALUES (1, N'Quản lý')
INSERT [dbo].[NhomNV] ([MaNhomNV], [TenNhomNV]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[NhomNV] OFF
SET IDENTITY_INSERT [dbo].[NhomSP] ON 

INSERT [dbo].[NhomSP] ([MaNhomSP], [TenNhomSP]) VALUES (1, N'Kem       ')
INSERT [dbo].[NhomSP] ([MaNhomSP], [TenNhomSP]) VALUES (2, N'Son       ')
INSERT [dbo].[NhomSP] ([MaNhomSP], [TenNhomSP]) VALUES (3, N'Tay trang ')
SET IDENTITY_INSERT [dbo].[NhomSP] OFF
INSERT [dbo].[PhanQuyen] ([MaNhomNV], [MaManHinh], [CoQuyen]) VALUES (1, 1, 0)
INSERT [dbo].[PhanQuyen] ([MaNhomNV], [MaManHinh], [CoQuyen]) VALUES (1, 2, 0)
INSERT [dbo].[PhanQuyen] ([MaNhomNV], [MaManHinh], [CoQuyen]) VALUES (1, 3, 1)
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [TenPN]) VALUES (1, N'PN_001')
INSERT [dbo].[PhieuNhap] ([MaPN], [TenPN]) VALUES (2, N'PN_002')
INSERT [dbo].[PhieuNhap] ([MaPN], [TenPN]) VALUES (3, N'PN_003')
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNhomSP], [GiaNhapSP], [GiaBanSP], [MoTaSP], [HinhAnh]) VALUES (1, N'White conc', 4, 100000.0000, 150000.0000, N'Nhật Bản vẫn thường được biết tới là một quốc gia vô cùng chăm chút về những sản phẩm làm đẹp. Vì vậy sữa tắm White conc đến từ Nhật luôn nằm trong top sữa tắm tốt nhất hiện nay.', NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNhomSP], [GiaNhapSP], [GiaBanSP], [MoTaSP], [HinhAnh]) VALUES (2, N'Sữa tắm Manis', 4, 200000.0000, 230000.0000, N' Manis là loại sữa tắm có khả năng tẩy tế bào chết tương đối tốt cho da, mang lại cho bạn một làn da trắng hồng tự nhiên', NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNhomSP], [GiaNhapSP], [GiaBanSP], [MoTaSP], [HinhAnh]) VALUES (3, N'Sữa tắm Dove', 4, 230000.0000, 250000.0000, N'Dove là một thương hiệu đến từ Mỹ và đã tạo được một tầm ảnh hưởng rất lớn đối với thị trường Việt Nam nhiều năm trở lại đây.', NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [HoTenNV], [DiaChi], [MaNhomNV], [HinhAnh]) VALUES (N' QL001', N'123', N'Khiemdaica', N'TanPhu', 1, NULL)
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [HoTenNV], [DiaChi], [MaNhomNV], [HinhAnh]) VALUES (N'NV001', N'123', N'Dat', N'Go Vap', 2, NULL)
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKH] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LoaiKH] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_LoaiKH]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_PhieuNhap]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_SanPham]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_ManHinh] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[ManHinh] ([MaManHinh])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ManHinh]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_NhomNV] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NhomNV] ([MaNhomNV])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_NhomNV]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhomSP] FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[NhomSP] ([MaNhomSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhomSP]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhomNV] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NhomNV] ([MaNhomNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhomNV]
GO
USE [master]
GO
