<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QuanLyShopMyPhamConnectionString"
            connectionString="Data Source=desktop-ud3h7t0\sqlexpress;Initial Catalog=QuanLyShopMyPham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>